body {
        background-color: #16365d;
        font-family: Arial, sans-serif;
        color: white;
        margin: 20px;
        line-height: 1.6;
    }
h1, h2, h3 {
    margin-top: 20px;
}
h1 {
    font-size: 26px;
    font-weight: bold;
}
h2 {
    font-size: 22px;
    font-weight: bold;
}
h3 {
    font-size: 20px;
    font-weight: bold;
}
.red {
    color: red;
}
.purple{
    color: rgb(224, 73, 224);
    font-weight: bold;
}
.document {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}
.med{
    color: red;
}
.pcd{
    color: yellow;
    text-decoration: underline;
}
.text{
    color: blue;
}
.quick{
    color: #00ff00;
    font-weight: bold;
}
.yellow-bg {
    background-color: yellow;
    color: black;
}
.green {
    background-color: #00ff00;
    color: black;
    font-weight: bold;
}
.highlight-red {
    background-color: red;
    color: white;
}
.format {
    background-color: black;
    color: white;
    width: 50%;
    height: 200%;
    padding: 20px;
    font-weight: bold;
    border-top: 2px solid red;
    border-left: 2px solid red;

}
.dir{
    color: blue;
    font-style: italic;
}
.insert{
    margin-left: 85%;
}
.Controls{
    color: green;
}
.con{
    background-color: black;
    padding: 20px;
    font-style: italic;
    border-left: 3px solid red;
    border-right: 3px solid yellow;
}
.LER{
    border-bottom: 2px solid yellow;
    text-align: center;
    width: 50%;
    color: yellow; 
    
}
.gal{
    background-color: red;
}