h1{
    color: red;
}
p{
    color: green;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    background-color: violet;
    margin: 100px;
}
.par1{
    color: white;
    background-color: purple;
    width: 50%;
    border: 2px, dotted, red;
    border-bottom: 5px, dotted, blue;
    padding: 100px;
}
.myspan{
    color: brown;
}
body{
    background-color: black;
    background-image: url(images.jpg);
    background-size: cover;
}